parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Monolog\Handler\AbstractProcessingHandler
	ignoreErrors:
		-
			identifier: assign.propertyType
			path: ../../tests/FunctionalTest.php
			count: 1
		-
			identifier: method.childParameterType
			path: ../../tests/FunctionalTest.php
			count: 2
