parameters:
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Monolog\Handler\AbstractProcessingHandler
				- Psr\Log\AbstractLogger
	ignoreErrors:
		-
			identifier: psr3.interpolated
			path: ../../src/FormattedPsrHandler.php
			count: 1
		-
			identifier: assign.propertyType
			path: ../../tests/FunctionalTest.php
			count: 1
		-
			identifier: method.childParameterType
			path: ../../tests/FunctionalTest.php
			count: 3
